.button
{
    padding: 20px 40px;
    font-size: 25px;
    color: black;
    background-color: lightgray;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 10px 15px;
}

.button:hover
{
    background-color: darkgrey;
}

.button:active
{
    background-color: #5c5c5c;
    box-shadow: 10px 15px
}

input[type=button]:hover
{
    cursor:pointer;
    background-color:lightgray;
}

input[type=button]
{
    border-spacing: 5px;
    border-radius: 5px;
    cursor:pointer;
    font-size: x-large;
}

input[type=reset]:hover
{
    cursor:pointer;
    background-color:lightgray;
    font-size: x-large;
}

input[type=reset]
{
    border-spacing: 5px;
    border-radius: 5px;
    cursor:pointer;
    font-size: x-large;
}

input[type=textfield]:hover
{
    cursor:text;
    font-size: x-large;
}

input[type=textfield]
{
    border-spacing: 5px;
    border-radius: 5px;
    cursor:text;
    font-size: x-large;
}
